body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 40px;
  }
  
  .game-list {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  
  .game-list img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .game-details {
    flex: 1;
  }
  
  .game-details h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .game-details p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  #game-search {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 5px;
  
  }
  
  button[type="submit"] {
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
    
  
   